* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* background aesthetic and alignments for webpage*/
body {
    background-color: #44196e;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* main content holds all hidden and visible elements */
.quiz-container {
    position: relative;
    width: 800px;
    max-width: 75%;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 20px 5px;
}
/* Introduction: Initially visible to user */
#quiz-greeting {
    text-align: center;
}
/* All quiz elements, initially hidden, element contents subject to change upon user interaction */
#question {
    font-size: 25px;
}
/* styling for timer set to appear after quiz start */
#quiz-timer {
    font-weight: bolder;
    color: #44196e;
    position: absolute;
    right: 25px;
    top: 25px
}
/* flexbox for multiple choice answers */
#answers {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
/* styling for each mulitple choice options */
.option {
    font-size: 15px;
    color: white;
    background-color: #af93d7;
    padding: 10px;
    border: 3px solid #44196e;
    border-radius: 5px;
    margin: 5px;
}
/* Styling for start and submit buttons */
.button {
    color: white;
    background-color: #44196e;
    padding: 10px;
    width: 20%;
    max-width: 100px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* class that hides elements when applied */
.hidden {
    display: none;
}
